@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', arial, helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* background-color: black; */
    /* color: white; */
}

.btn {
    border: none;
    border-radius: 20px;
    padding: 2px 4px;
    height: 2rem;

}